################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.lock
/.vs/PracticalSignalR/v16/Server/sqlite3
*.dtbcache
/PracticalSignalR/obj
/PracticalSignalR/bin/Debug/netcoreapp2.2
